*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

# Ignore client files, as they are in another repo
client/

# Ignore certificates
server/private/*
!server/private/ssl-certificates.conf